body {
    max-width: 1280px;
    max-height: 670px;
    background-image: url("");
}

.container3 {
    display: none;
    margin-left: none;
}

.content {
    margin-left: 48%;
    margin-top: 15%;
}